{% extends "base.html" %}

{% block content %}
     {% include 'blog/auth.html' %}
<a class="backlink" href="/blog">Home</a>
<h1>{{ post }}</h1>
<p class="byline">
  Posted by {{ post.author_name }} &mdash; {{ post.published_date }}
</p>
<div class="post-body">
  {{ post.text }}<br>
    {% if user.is_authenticated %}
<a class="btn btn-default" href="{% url 'post_edit' post.pk %}">Edit<span class="glyphicon glyphicon-pencil"></span></a>
{% endif %}
</div>
<ul class="categories">
  {% for category in post.categories.all %}
    <li>{{ category }}</li>
  {% endfor %}
</ul>
{% endblock %}